h1 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-transform: UPPERCASE;
    font-size: 3em;
}

body {
    background-color: black;
}
p {
    color: white;
    text-align: center;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
img {
    width: 100%;
    border: 3px solid white;
}
